.vscode
**/__pycache__/
connect.py
.env
.env.*
.venv
!.env.example
!**/.env.example
*.db
.pytest_cache
.coverage
htmlcov/
*.log
dist
node_modules
.DS_Store
npm-debug.log*
*.tsbuildinfo
.vite
.ruff_cache
EquiSwap/backend/uploads/
